USE [master]
GO
/****** Object:  Database [Sales_ManagementDB]    Script Date: 6/20/2026 ******/
-- Check if the database already exists to drop it and avoid errors
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'Sales_ManagementDB')
BEGIN
    ALTER DATABASE [Sales_ManagementDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Sales_ManagementDB];
END
GO

-- Create the database with default system paths to work on any machine
CREATE DATABASE [Sales_ManagementDB]
GO
USE [Sales_ManagementDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
USE [Sales_ManagementDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
	[ErrorPlace] [nvarchar](50) NOT NULL,
	[ErrorDate] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK__ErrorLog__358565CA813A1E4A] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [smallmoney] NOT NULL,
	[Discount] [smallmoney] NOT NULL,
	[AmountPaid] [smallmoney] NOT NULL,
	[TotalAmount] [smallmoney] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Permission] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Description]) VALUES (1, N'iPhone')
INSERT [dbo].[Categories] ([CategoryID], [Description]) VALUES (2, N'Samsung')
INSERT [dbo].[Categories] ([CategoryID], [Description]) VALUES (3, N'Huawei')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (1, N'Mohammed', N'Abu- Hadoud', N'Jordan-Amman-street 30', N'0532339212     ', N'')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (2, N'Othman', N'Turk', N'Syria-Hama-AlKosor', N'1234643213     ', N'Othman@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (3, N'Mohammed', N'T3ama', N'Syria-Hama-AlKosor-Street 30', N'1234321542     ', N'')
SET IDENTITY_INSERT [dbo].[Customers] OFF

GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount], [AmountPaid], [TotalAmount]) VALUES (1, 1, 1, 2, 800.0000, 20.0000, 1600.0000, 1280.0000)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount], [AmountPaid], [TotalAmount]) VALUES (2, 1, 9, 1, 700.0000, 10.0000, 700.0000, 630.0000)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Discount], [AmountPaid], [TotalAmount]) VALUES (3, 1, 45, 1, 20.0000, 0.0000, 20.0000, 20.0000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedDate], [Description], [CreatedByUserID]) VALUES (1, 2, CAST(N'2025-09-08T03:38:11.577' AS DateTime), N'Buy', 2)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedDate], [Description], [CreatedByUserID]) VALUES (2, 1, CAST(N'2025-09-08T03:40:02.370' AS DateTime), N'Buy', 2)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedDate], [Description], [CreatedByUserID]) VALUES (3, 3, CAST(N'2025-09-08T04:03:30.143' AS DateTime), N'Buy Mobile', 2)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Quantity], [Price], [Image]) VALUES (1, 1, N'iPhone 16', 6, 800.0000, N'')
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Quantity], [Price], [Image]) VALUES (2, 1, N'iPhone 15 Pro Max', 10, 700.0000, N'')
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Quantity], [Price], [Image]) VALUES (3, 1, N'iPhone 15', 14, 688.0000, N'')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Permission], [IsActive]) VALUES (1, N'Othman', N'tw|', -1, 1)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Permission], [IsActive]) VALUES (2, N'Saqer7', N'DDDD', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  StoredProcedure [dbo].[Get_Order_Details]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Get_Order_Details]
@OrderID int
as
SELECT [OrderDetailID]
      ,[OrderDetails].[OrderID]
      ,[OrderDetails].[ProductID]
	  ,Products.ProductName 
      ,[OrderDetails].[Quantity]
      ,[UnitPrice]
      ,[Discount]
      ,[AmountPaid]
      ,[TotalAmount]
	  ,CreatedDate
	  ,Description
	  ,UserName
	  ,[Orders].CustomerID
	  ,FirstName + ' ' + LastName as FullName
	  ,Phone
	  ,Address

  FROM [dbo].[OrderDetails]
  inner join Orders
  on Orders.OrderID = OrderDetails.OrderID
  inner join Users
  on Orders.CreatedByUserID = Users.UserID
  inner join Customers
  on Orders.CustomerID = Customers.CustomerID
  inner join Products
  on OrderDetails.ProductID = Products.ProductID

  where OrderDetails.OrderID = @OrderID
GO
/****** Object:  StoredProcedure [dbo].[Get_Order_Details_ForPrint]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Get_Order_Details_ForPrint]
as
SELECT [OrderDetailID]
      ,[OrderDetails].[OrderID]
	  ,Products.ProductName 
      ,[OrderDetails].[ProductID]
      ,[OrderDetails].[Quantity]
      ,[UnitPrice]
      ,[Discount]
      ,[AmountPaid]
      ,[TotalAmount]
	  ,CreatedDate
	  ,Description
	  ,UserName
	  ,[Orders].CustomerID
	  ,FirstName + ' ' + LastName as FullName
	  ,Phone
	  ,Address

  FROM [dbo].[OrderDetails]
  inner join Orders
  on Orders.OrderID = OrderDetails.OrderID
  inner join Users
  on Orders.CreatedByUserID = Users.UserID
  inner join Customers
  on Orders.CustomerID = Customers.CustomerID
  inner join Products
  on OrderDetails.ProductID = Products.ProductID
GO
/****** Object:  StoredProcedure [dbo].[GET_SINGLE_CATEGORY]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GET_SINGLE_CATEGORY]
@id int
as
select CategoryID,Description from Categories
where CategoryID = @id
GO
/****** Object:  StoredProcedure [dbo].[GET_SINGLE_PRODUCT]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GET_SINGLE_PRODUCT]
@ID int
as 
SELECT [ProductID]
      ,Description
      ,[ProductName]
      ,[Quantity]
      ,[Price]
      ,[Image]
  FROM [dbo].[Products]
  inner join Categories on Categories.CategoryID = Products.CategoryID
  where ProductID = @ID

GO
/****** Object:  StoredProcedure [dbo].[SP_HandleError]    Script Date: 6/24/2026 2:27:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HandleError]
    AS
    BEGIN
        DECLARE @ErrorMessage NVARCHAR(4000), 
                @ErrorSeverity INT, 
                @ErrorState INT;

        -- Get error message, severity, and state
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Return the error details so they can be handled in the calling procedure
        SELECT 
            @ErrorMessage AS ErrorMessage,
            @ErrorSeverity AS ErrorSeverity,
            @ErrorState AS ErrorState;
    END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'with discount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'TotalAmount'
GO
USE [master]
GO
